<!DOCTYPE html>
<section>
  <div class="calc"> 
    <h2>Numeros Primos</h2>
    <p>coloque un rango entre 1 y 200</p>
    <div>
      <label>Inicio</label><input [(ngModel)]="num1" type="number">
      <div *ngIf="!checkNumber(num1)">
        <label style="background:red;color:white" [hidden]="!myPassword.errors.required">
          Valor fuera de rango proporcione un numero entre 1 y 200
        </label>
      </div>
  
      <p></p>
      <label>Fin</label><input [(ngModel)]="num2" type="number">
      <div *ngIf="!checkNumber(num2)">
        <label style="background:red;color:white" [hidden]="!myPassword.errors.required">
          Valor fuera de rango proporcione un numero entre 1 y 200
        </label>
      </div>
      <p></p>
<button (click)="llenarMatriz()" >BUSCAR</button>
    </div>
  </div>
</section>
<div class="result" *ngIf="respuesta">
    <h2>Numeros primos</h2>
    
      <p *ngFor="let num of arrayPrimos" > {{num}} </p>
          </div>
    