<!DOCTYPE html>
<section>
  <div class="calc"> 
    <h2>Numeros Primos</h2>
    <p>coloque un rango de numeros entre 1 y 200</p>
    <div>
      <label>Inicio</label><input [(ngModel)]="form.inicial" type="number">
      <div *ngIf="!checkNumber(form.inicial)">
        <label style="background:red;color:white">
          Valor fuera de rango proporcione un numero entre 1 y 200
        </label>
      </div>
  
      <p></p>
      <label>Fin</label><input [(ngModel)]="form.final" type="number">
      <div *ngIf="!checkNumber(form.final)">
        <label style="background:red;color:white">
          Valor fuera de rango proporcione un numero entre 1 y 200
        </label>
      </div>
      <p></p>
<button (click)="llenarMatriz()" >BUSCAR</button>
    </div>
  </div>
</section>
<div class="result" *ngIf="respuesta">
    <h2>Numeros primos</h2>
    <p>Ver consola del navegador para el Registro</p>
      <p *ngFor="let num of arrayPrimos" > {{num}} </p>
          </div>
    